<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.careermarsaiproject.mapper.MbtiResultMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.careermarsaiproject.entity.MbtiResult">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="group" property="group" />
        <result column="type" property="type" />
        <result column="description" property="description" />
        <result column="advantage" property="advantage" />
        <result column="disadvantage" property="disadvantage" />
        <result column="first_industry" property="firstIndustry" />
        <result column="first_postion" property="firstPostion" />
        <result column="second_industry" property="secondIndustry" />
        <result column="second_postion" property="secondPostion" />
        <result column="avoid" property="avoid" />
        <result column="suggestion" property="suggestion" />
        <result column="create_id" property="createId" />
        <result column="create_time" property="createTime" />
        <result column="update_id" property="updateId" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
